header {
  display: flex;
  flex-direction: column;
}

header::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: black;
  margin-top: 10px;
  margin-bottom: 40px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

.title {
  all: unset;
  font-size: 40px;
  cursor: pointer;
  margin: 0;
  font-weight: 400;
  font-family: var(--font-family);
}
button {
  all: unset;
  display: flex;
  cursor: pointer;
  line-height: 0;
}
.buttonsContainer {
  display: flex;
  align-content: center;
  gap: 10px;
}
button img {
  height: auto;
  display: block;
}
.pageNumber {
  font-family: var(--font-family);
}
