.title {
  font-size: 70px;
  text-align: center;
}
/* Logo */
.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5e5e5;
  padding: 70px 0;
}
.imageContainer img {
  width: 500px;
}
.logoContainer p {
  margin-top: 10px;
  font-size: 20px;
}
/* Desc */
h3 {
  margin-top: 60px;
  font-family: var(--second-font-family);
  font-size: 40px;
}
h3::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: black;
  margin-top: 10px;
  margin-bottom: 40px;
}
.teamDesc p {
  font-size: 24px;
}
.players {
  display: flex;
  justify-content: space-evenly;
}
.playerInfo {
  display: flex;
  gap: 5px;
  font-weight: 500;
  justify-content: center;
  font-size: 20px;
}
.playerCard {
  padding: 40px;
  border-radius: 10px;
}
.playerCard img {
  background-color: white;
  border: 2px solid black;
  width: 200px;
  height: 200px;
  border-radius: 15000px;
  object-fit: cover;
}
