:root {
  --portland-trailblazers-red: #e03a3e;
  --miami-heat---red: #98002e;
  --miami-heat---yellow: #f9a01b;
  --miami-heat---black: #000;
  --atlanta-hawks---red: #e03a3e;
  --atlanta-hawks---volt-green: #c1d32f;
  --atlanta-hawks---charcoal: #26282a;
  --washington-wizards---blue: #002b5c;
  --washington-wizards---red: #e31837;
  --washington-wizards---silver: #c4ced4;
  --orlando-magic---blue: #0077c0;
  --orlando-magic---silver: #c4ced4;
  --orlando-magic---black: #000;
  --charlotte-hornets---purple: #1d1160;
  --charlotte-hornets---teal: #00788c;
  --charlotte-hornets---gray: #a1a1a4;
  --boston-celtics---green: #007a33;
  --boston-celtics---gold: #ba9653;
  --boston-celtics---brown: #963821;
  --boston-celtics---beige: #e59e6d;
  --boston-celtics---black: #000;
  --toronto-raptors---red: #ce1141;
  --toronto-raptors---silver: #a1a1a4;
  --toronto-raptors---black: #000;
  --toronto-raptors---gold: #b4975a;
  --philadelphia-76ers---blue: #006bb6;
  --philadelphia-76ers---red: #ed174c;
  --philadelphia-76ers---navy: #002b5c;
  --philadelphia-76ers---silver: #c4ced4;
  --brooklyn-nets---black: #000;
  --brooklyn-nets---white: #fff;
  --new-york-knicks---blue: #006bb6;
  --new-york-knicks---orange: #f58426;
  --new-york-knicks---silver: #bec0c2;
  --new-york-knicks---black: #000;
  --milwaukee-bucks---green: #00471b;
  --milwaukee-bucks---cream: #eee1c6;
  --milwaukee-bucks---blue: #0077c0;
  --milwaukee-bucks---black: #000;
  --indiana-pacers---blue: #002d62;
  --indiana-pacers---yellow: #fdbb30;
  --indiana-pacers---silver: #bec0c2;
  --chicago-bulls---red: #ce1141;
  --chicago-bulls---black: #000;
  --detriot-pistons---red: #c8102e;
  --detriot-pistons---royal-blue: #1d42ba;
  --detriot-pistons---silver: #bec0c2;
  --detriot-pistons---navy: #002d62;
  --cleveland-cavaliers---wine: #860038;
  --cleveland-cavaliers---navy-blue: #041e42;
  --cleveland-cavaliers---gold: #fdbb30;
  --cleveland-cavaliers---black: #000;
  --los-angeles-lakers---purple: #552583;
  --los-angeles-lakers---gold: #fdb927;
  --los-angeles-lakers---black: #000;
  --los-angeles-clippers---red: #c8102e;
  --los-angeles-clippers---blue: #1d428a;
  --los-angeles-clippers---silver: #bec0c2;
  --los-angeles-clippers---black: #000;
  --phoenix-suns---purple: #1d1160;
  --phoenix-suns---orange: #e56020;
  --phoenix-suns---black: #000;
  --phoenix-suns---gray: #63727a;
  --phoenix-suns---yellow: #f9ad1b;
  --phoenix-suns---dark-orange: #b95915;
  --phoenix-suns---light-gray: #bec0c2;
  --sacramento-kings---purple: #5a2d81;
  --sacramento-kings---gray: #63727a;
  --sacramento-kings---black: #000;
  --golden-state-warriors---blue: #1d428a;
  --golden-state-warriors---yellow: #ffc72c;
  --houston-rockets---red: #ce1141;
  --houston-rockets---black: #000;
  --houston-rockets---silver: #c4ced4;
  --dallas-mavericks---royal-blue: #00538c;
  --dallas-mavericks---navy-blue: #002b5e;
  --dallas-mavericks---silver: #b8c4ca;
  --dallas-mavericks---black: #000;
  --memphis-grizzlies---blue: #5d76a9;
  --memphis-grizzlies---navy: #12173f;
  --memphis-grizzlies---yellow: #f5b112;
  --memphis-grizzlies---gray: #707271;
  --san-antonio-spurs---silver: #c4ced4;
  --san-antonio-spurs---black: #000;
  --new-orleans-pelicans---navy: #0c2340;
  --new-orleans-pelicans---red: #c8102e;
  --new-orleans-pelicans---gold: #85714d;
  --denver-nuggets---blue: #0e2240;
  --denver-nuggets---yellow: #fec524;
  --denver-nuggets---red: #8b2131;
  --denver-nuggets---skyline-blue: #1d428a;
  --oklahoma-city-thunder---blue: #007ac1;
  --oklahoma-city-thunder---orange: #ef3b24;
  --oklahoma-city-thunder---blue-alt: #002d62;
  --oklahoma-city-thunder---yellow: #fdbb30;
  --utah-jazz---blue: #002b5c;
  --utah-jazz---green: #00471b;
  --utah-jazz---yellow: #f9a01b;
  --portland-trailblazers---black: #000;
  --minnesota-timberwolves---blue: #0c2340;
  --minnesota-timberwolves---light-blue: #236192;
  --minnesota-timberwolves---gray: #9ea2a2;
  --minnesota-timberwolves---aurora-green: #78be20;
}
