@import "./css/variables.css";
@import "./css/fonts.css";

body {
  margin: 0;
  display: block; /* или просто убрать flex */
  font-family: var(--font-family);
}

.App {
  display: flex;
  margin-inline: auto;
  flex-direction: column;
  width: 100%;
  max-width: 1380px;
  padding: 64px 104px;
}
.loader {
  width: fit-content;
  margin: 0 auto;
  transform: translateX(-50%);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
p {
  font-family: var(--second-font-family);
}
