@import "./css/variables.css";
@import "./css/fonts.css";

body {
  margin: 0;
  display: block; /* или просто убрать flex */
}

.App {
  display: flex;
  margin-inline: auto;
  flex-direction: column;
  width: 100%;
  max-width: 1380px;
  padding: 64px 104px;
}
